.footer-container
  display: flex
  position: fixed
  right: 12px
  bottom: 12px
  height: 1em
  font-size: 0.7em
  > *
    margin-left: 0.25em
  > .footer-thanks
    margin-top: -0.25em

.footer-button
  color: var(--mood-text-color)
  border: solid 1px var(--mood-text-color)
  outline: none
  overflow: visible // TODO: set to hidden in final version
  background-color: Transparent
  height: 21px // TODO: looks nice on Mac Chrome, test in other browsers
  &:hover
    box-shadow: 0 0 4px var(--mood-text-color)
